SERVICE_HOST=127.0.0.1
SERVICE_PORT=6800
SERVICE_NAME=echouser
SERVICE_TIMEOUT=30000ms

POSTGRES_DB=echodb
POSTGRES_DB_PORT=5432
POSTGRES_DB_HOST=127.0.0.1
POSTGRES_USER=echouser
POSTGRES_PASSWORD=echouserpassword
POSTGRES_DB_MAX_OPEN_CONNECTION=5
POSTGRES_DB_MAX_IDLE_CONNECTION=5
POSTGRES_DB_MAX_LIFETIME=30m

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=2
# optional for REDIS config
REDIS_DIAL_TIMEOUT=1s
REDIS_READ_TIMEOUT=500ms
REDIS_WRITE_TIMEOUT=500ms
REDIS_MAX_RETRIES=3
REDIS_POOL_SIZE=10
REDIS_MIN_IDLE_CONNS=5
REDIS_USERNAME=echouser
REDIS_PASSWORD=echouserpassword

RABBITMQ_DEFAULT_USER=echouser
RABBITMQ_DEFAULT_PASS=echouserrabbitpw
RABBITMQ_PORT=5672
RABBITMQ_HOST=127.0.0.1

JWT_SECRET=jwtsecret
JWT_VALID_DURATION=24h
REFRESH_TOKEN_SECRET=testingsign
REFRESH_VALID_DURATION=168h
BCRYPT_SALT=10 

FIREBASE_AUTH_KEY="base64 of firebase private key"
